# Copy the Qualifier annotation from the instance variables to the constructor
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
# Lombok will mark all generated methods with the @lombok.Generated. That comes in handy when removing Lombok-generated methods from package scanning or code coverage tools.
lombok.addLombokGeneratedAnnotation = true